@media screen and (max-width: 992px){
	html{
		font-size: 90%;
	}
}
@media screen and (max-width: 768px){
	html{
		font-size: 80%;
	}
	.nav__button{
		display: block;
	}
	.nav__list{
		display: none;
	}
	.nav__list--open{
		display: block;
	}
	.nav__item{
		margin: 20px;
	}
}
@media screen and (max-width: 600px){
	html{
		font-size: 70%;
	}
	.header__logo{
		float: none;
		text-align: center;
	}
	.header__contact{
		float: none;
		text-align: center;
		margin-top: 1rem;
	}
	.slider__item{
		padding-top: 16rem;
	}
	.grid__item{
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.advantage{
		display: block;
	}
	.advantage__item{
		width: 100%;
		margin-right: 0;
		margin-bottom:  1rem;
	}
}	